In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('kaggle/input/collegePlace.csv')
df

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1
...,...,...,...,...,...,...,...,...
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1

In [4]:
y = df['PlacedOrNot']
x = df[['Internships', 'CGPA', 'Hostel', 'HistoryOfBacklogs']]

In [5]:
from sklearn import linear_model

In [6]:
lr = linear_model.LinearRegression()
lr.fit(x, y)

LinearRegression()

In [9]:
lr.predict([[0, 8, 0, 0]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.77089625])

In [10]:
import pickle
pickle.dump(lr, open('model.pkl', 'wb'))

In [11]:
df.columns

Index(['Age', 'Gender', 'Stream', 'Internships', 'CGPA', 'Hostel',
       'HistoryOfBacklogs', 'PlacedOrNot'],
      dtype='object')